body{
    font-family: 'segoe print';
    color:#000;
    background: url('../imagenes/fondo2.jpg');
    font-size: 1.2rem;
    line-height: 1.6em;
    margin: 0;
}

h2{
    font-size: 2rem;
    line-height: 1.3em;
}

p{
    margin-bottom: 1.0em;
}

.container{
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
}

.header{
    background: rgba(255, 152, 0, 0.7);
    color: white;
    padding: 0.75rem 0;
/* position: fixed;*/
    left: 0;
    top: 0;
    right: 0; 
}

.header a{
    color: white;
    text-decoration: none;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.navegacion ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navegacion ul li{
    display: inline-block;
}

.navegacion ul li a{
    display: block;
    padding: 0.5rem 0.5rem;
    transition: all 0.4s linear;
    border-radius: 4px;
    font-size: 0.7rem;
}

.main{
    padding: 0 20rem;
}
.footer{
    background: #000;
    border: #ffffff;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
    margin-top: 6rem;
}

.navegacion ul li a:hover{
    background: #01579b ;
}

img{
    white: 100%;
}

.portafolio{
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.portafolio h4{
    text-align: center;
    border: #000;
    font-size: 60px;
    margin: 15px 0px 40px;
}

.container_2{
    position: relative;
    top: 20px;
    width: 100%;
    height: auto;
    margin: auto;
    background: #fff;
    padding: 10px 0;
    background: #efebe9;
    opacity: 0.9;
    border-radius: 30px;
}
.input-group{
    top: 180px;
    width: 380px;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 4px solid #2979ff;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, rgba(0, 150, 136, 0.7),rgba(0, 188, 212, 0.7));
    border: 0px;
    outline: none;
    border-radius: 30px;
}
