*{
    margin: 0;
    padding: 0;
    font-size: 13spx;
    font-family: sans-serif;
}
.container{
    height: 110%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../Imagenes/fondo.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 350px;
    height: 755px;
    position: relative;
    margin: 1% auto;
    background: #ffffff;
    opacity: 0.6;
    padding: 5px;
    border-radius: 10px;
    overflow: hidden; 
}
.buton-box{
    width: 240px;
    margin: 30px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #00897b;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 22px;
    cursor: pointer;
    background: transparent;
    border: 0px;
    outline: none;
    position: relative;
}
#elegir{
    top: 0;
    left: 0;
    position: absolute;
    width: 120px;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 150, 136, 0.7),rgba(0, 188, 212, 0.7));
    border-radius: 30px;
    transition: 0.8s;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.8s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 4px solid #2979ff;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, rgba(0, 150, 136, 0.7),rgba(0, 188, 212, 0.7));
    border: 0px;
    outline: none;
    border-radius: 30px;
}
#login{
    left: 50px;
}
#registro{
    left: 450px;
}